button{
    border: none;
    outline: transparent;
    background-color: white;
    box-shadow: $LightShadow 0px 2px 8px 0px;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 12px;
}