//lightmode
$LdarkBlueText: hsl(200, 15%, 8%);
$LightGrayInput: hsl(0, 0%, 52%);
$LightGrayBg: hsl(0, 0%, 98%);
$LightShadow: rgb(231, 231, 231);

//darkmode
$DdarkBlueElm: hsl(209, 23%, 22%);
$DdarkBlueBg: hsl(207, 26%, 17%);
$DarkModeText: hsl(0, 0%, 100%)